---

---

<div class="hamburger lg:hidden inline-flex flex-col gap-2">
  <span class="line block w-8 h-0.5 bg-indigo-500"></span>
  <span class="line block w-7 h-0.5 bg-indigo-500"></span>
  <span class="line block w-8 h-0.5 bg-indigo-500"></span>
</div>
<script>
  import "../scripts/menu.js";
</script>
