---
import HeaderUserDropdown from "./preact/HeaderUserDropdown.tsx";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
---

<div>
  {
    session ? (
      <HeaderUserDropdown client:visible username={session?.user?.name} />
    ) : (
      <a
        href="/login"
        class="cursor-pointer font-semibold hover:text-indigo-500"
      >
        Login
      </a>
    )
  }
</div>
