---
import "../styles/backend.css";
import AdminSidebar from "@components/preact/admin/Sidebar";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin</title>
  </head>
  <body class="flex">
    <AdminSidebar client:only />
    <main class="flex-1 flex flex-col h-screen">
      <header></header>
      <main class="flex-1 overflow-auto p-5">
        <h1 class="text-2xl font-bold mb-4">{title}</h1>
        <slot />
      </main>
      <footer></footer>
    </main>
  </body>
</html>
