---
import AdminLogin from "@components/preact/AdminLogin";
import "@/styles/backend.css";
---

<html lang="zh_cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Login</title>
  </head>
  <body>
    <AdminLogin client:load />
  </body>
</html>
